## Pastas ########################################
##################################################

/src/cpp/Debug
/src/csharp/client/bin
/src/csharp/client/obj
/src/csharp/test/bin
/src/csharp/test/obj
/src/java/server/build
/src/java/server/.settings

## Extenções #####################################
##################################################

*.sdf
*.suo
/src/java/client/.settings
