<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>OpenFiscalServer</display-name>

	<filter>
		<filter-name>FiltroGeral</filter-name>
		<filter-class>com.digosofter.digowebapp.filter.FiltroGeral</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroGeral</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.digosofter.openfiscal.server.servlet.Index</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
</web-app>